In [1]:
import json
import requests
import random
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import gmaps
from citipy import citipy
from config import api_key, gkey

In [2]:
#import a list of cities from download.geonames.org/export/dump
Countries_df = pd.read_csv("worldcities.csv")
Countries_df

#picking 500 random cities
Cities = random.choices(Countries_df["city_ascii"], k=1000)

In [3]:
City_df = pd.DataFrame()
cnt = 0
lng = []
lat = []
temp = []
humidity =[]
wind = []
cloud = []
units = "imperial"
url = "http://api.openweathermap.org/data/2.5/weather?"

# Build query URL and iterrate over Cities array
for j in range(len(Cities)):
    city2 = Cities[j]
    query_url = url + "appid=" + api_key + "&q=" + city2 + "&units=" + units
    
    if cnt == 500:
        break
    
    try:
        # Get weather data
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()
        lng.append(weather_json["coord"]["lon"])
        lat.append(weather_json["coord"]["lat"])
        temp.append(weather_json["main"]["temp"])
        humidity.append(weather_json["main"]["humidity"])
        wind.append(weather_json["wind"]["speed"])

        if weather_json["weather"][0]["id"] == 800:
             cloud.append(0)
        elif weather_json["weather"][0]["id"] == 801:
            cloud.append(25)
        elif weather_json["weather"][0]["id"] == 802:
            cloud.append(50)
        elif weather_json["weather"][0]["id"] == 803:
            cloud.append(75)
        else:
            cloud.append(100)
        
        #print(str(cnt)) used this print statement to see where it was at in the count process
    except:
        cnt = cnt -1
        continue
        
        
    cnt = cnt + 1

City_df["Lng"] = lng    
City_df["Lat"] = lat
City_df["Temp"] = temp
City_df["Humidity"] = humidity
City_df["Wind_Spd_mph"] = wind
City_df["Cloud_Perc"] = cloud
City_df

          Lng      Lat   Temp  Humidity  Wind_Spd_mph  Cloud_Perc
0    121.3167 -28.8833  48.49        81         10.65         100
1     -2.1871  53.9171  36.36        84          1.01          50
2     15.0667  48.7833  48.99        90          7.00         100
3      8.7539  49.0275  43.63        95          1.50         100
4   -102.8000  25.3500  78.78        29         23.02         100
..        ...      ...    ...       ...           ...         ...
543    9.1817  36.7256  67.08        88          9.22          50
544   28.0048  52.7985  43.27        93          6.98          75
545  -89.2333  20.9833  92.25        49          8.05          75
546  152.2633  -4.3520  82.26        69          1.12         100
547   69.7362  25.3616  82.00        58         10.92          50

[548 rows x 6 columns]

In [4]:
City_df = City_df[City_df.Temp <= 80] #narrowing down Temp to be less than 80 degrees 
City_df = City_df[City_df.Temp >= 70] #narrowing down Temp to be greater than 70 degrees 
City_df = City_df[City_df.Wind_Spd_mph < 10] #narrowing down dataframe so the windspeed is only less than 10mph
City_df = City_df[City_df.Cloud_Perc == 0] #narrowing down dataframe in places that have zero clouds
City_df

          Lng      Lat   Temp  Humidity  Wind_Spd_mph  Cloud_Perc
13    96.4333  18.9333  75.11        86          2.91           0
16   -88.6503  33.6076  71.38        60          4.61           0
154 -121.9533  36.9752  70.41        55          9.22           0
220  -84.2338  33.5443  71.74        46          9.22           0
245  -90.6279  38.8011  76.42        25          9.22           0
246  -94.5786  39.0997  79.25        24          9.22           0
251  -90.5871  38.5925  74.84        25          9.22           0
324   79.2667  17.0500  78.91        73          8.03           0
434   86.9833  23.6833  78.39        59          5.57           0
483  -94.8836  39.0597  78.33        32          1.99           0
542   79.6167  17.1500  79.09        76          7.70           0

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [17]:
# Store 'Lat' and 'Lng' into  locations 
locations = City_df[["Lat", "Lng"]].astype(float)

# Convert bank rate to list
Temp_rate = City_df["Temp"].tolist()

In [18]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Temp_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
#Using Google Place API to search for Hotels within a 5000 meter radius of my lat,Lng locations 

Radius = 5000 #meters
search = "hotel" #search parameter
place_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=Hotel&key=AIzaSyDZs6qASHZkqltLZNINIFLKuyVLYeih0pQ"

#get_url = place_url + City_df["Lat"] + "," + City_df["Lng"] + "&radius=" + Radius +"&type" + search + "&key" + gkey

hotel_response = requests.get(place_url)
hotel_json = hotel_response.json()
hotel_json["results"][1]["plus_code"]["compound_code"]



#hotel_json["results"][0]["name"] #name of Hotel
#hotel_json["results"][0]["vicinity"] #City of hotel location
#hotel_json["results"][1]["plus_code"]["compound_code"] #Country of hotel

'45HX+V5 Pyrmont NSW, Australia'